VITE_SUPABASE_PROJECT_ID="hoqcazkwclpngawmwbon"
VITE_SUPABASE_PUBLISHABLE_KEY="coloque-a-sua-chave-publica-do-supabase"
VITE_SUPABASE_URL="https://hoqcazkwclpngawmwbon.supabase.co"
VITE_ALLOWED_USER_IDS="8d971874-ab74-406f-a1a6-d7425ee3527b,cf2f9f63-cc46-4231-bb8d-9e898bfdd089,eafdc413-36ff-4c11-bf85-aa76c25fe068"
